<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ecommerce{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
    </head>

    <style>
        .row{
            margin: 0 0 0 0;
        }
        
    </style>

    <body>

        <div class="container">

            <div class="row">
                {% block header %}{% endblock %}
            </div>

            <div class="row">
                {% block body %}{% endblock %}
            </div>
        </div>

    </body>

</html>
