<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ecommerce Administration{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('bootstrap/css/bootstrap.css') }}">
    </head>

    <style>
        .row{
            margin: 0 0 0 0;
        }
        
    </style>

    {% block header %}
    {% endblock %}

    {% block body %}
    {% endblock %}

</html>
